<nav class="tabs" data-group="primary">
  {{#each tabs}}
    <a class="item {{#if (eq ../activeTab this.id)}}active{{/if}}" data-tab="{{this.id}}" title="{{this.label}}">
      <i class="{{this.icon}}"></i>
    </a>
  {{/each}}
  <div class="mode-toggle">
    <a class="item {{#if (eq activeTab 'workspaces')}}active{{/if}}" data-tab="workspaces" title="Доски (Рабочие пространства)">
      <i class="fas fa-layer-group"></i>
    </a>
    <a class="item {{#if (eq activeTab 'settings')}}active{{/if}}" data-tab="settings" title="Настройки">
      <i class="fas fa-cog"></i>
    </a>
  </div>
</nav>
